<h3> Welcome to Daily Tarot! </h3>
 <hr>
<div>
  <div class="row">
    <div class="col-7">
   
  <h5>
  Your daily card will now be texted to you each morning.
  
  </h5>
<p> </p>
You can view your daily readings in your <a href="/daily_spreads/"> Daily Reading Database</a>. 
<p></p>
You can also explore all the tarot cards and their meanings in <a href="/tarot_cards/"> Tarot Card Library</a>.

<%# 
<i>  NEED TO FIX: Form; Only one reading per day </i>


<p> </p>
 <h5>
Sign up to have your daily tarot card texted to you each morning:
 </h5>
<div>
  <div>
    <form action="" method="post">
      <div>
        <label for="">
          Name
        </label>

        <input type="text" id="" name="">
      </div>

      <div>
        <label for="">
          Phone Number
        </label>

        <input type="text" id="" name="">
      </div>

      <button>
        Sign Up
      </button>
    </form>
  </div>
</div>
<hr>
<p> </p>



<h5>
To access your daily reading right now, start by clearing your mind. 
</h5>
<p> </p>
Close your eyes and take a few deep breaths and think about the day ahead.

When you're ready, click the button below to generate your daily card.


<p> </p>
<form action="/insert_daily_spread" method="post" >

<button> Select your daily card
</button>
</form> %>
  <hr>
    </div>
    <div class="col-5">
   
    <img src="https://images.unsplash.com/photo-1624274579716-8eeba7da39bb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
          width = "400",
          height "450" >
    </div>
  </div>
</div>


<%# <#img src="https://images.unsplash.com/photo-1600430188203-bbb8dac79646?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"> %>
<%# <#img src="https://images.unsplash.com/photo-1600429770067-380e847a6c86?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"> %>


<%# 
Get rid of routes that I don't need (join table routes) - aren't adding anythign to the application
Forms that are showing updated/at, raw id numbers, etc.
(make sure you can't see details you don't want to see - no raw id numbers)
Nice to format time (dates, time dot strftime foragoodstrftime website)
redirects - take to the card not back to the join table or record, daily reading should take you to the card and now the record  %>