<div>
  <div>
    <h1>
     <%= @current_user.name %>'s Daily Readings
    </h1>
  </div>
</div>

<hr>

<div>
  <div class="row">
      <div class="col-6">
           <img src="https://images.unsplash.com/photo-1589948363758-e88845cad7b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=675&q=80"
            width = "400"
            height = "500" />
          
      </div>
       <div class="col-6">  
          <table>
            <tr>
            
              <th>
                Date
              </th>
              
              <th>
              Daily Card 
              </th>
    
            </tr>

            <% @the_list.each do |a_daily_spread| %>
            <tr>
          
              <td>
              <%# <#%= time_ago_in_words(a_daily_spread.created_at) %> 
                <%#  strftime(%b %d, %Y) %>
                <%= a_daily_spread.created_at.strftime("%b %d, %Y") %>
              </td>
        
              <td>
                 <a href="/tarot_cards/<%= a_daily_spread.tarot_card_id %>">
                  <%= a_daily_spread.tarot_card.name %>
                  </a>
              </td>

             
            </tr>
            <% end %>
          </table>
        </div>
      </div>
</div>

<hr>
