<div>
  <div>
    <h1>
     <%= @current_user.name %>'s Daily Readings
    </h1>
  </div>
</div>

<hr>

<div>
  <div class="row">
      <div class="col-5">
          <img src="https://images.unsplash.com/photo-1624274579716-8eeba7da39bb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
          width = "400",
          height "450" >
      </div>
       <div class="col-7">  
          <table>
            <tr>
            
              <th>
                Date
              </th>
              
              <th>
              Daily Card 
              </th>
    
              <th>
              Details
              </th>
            </tr>

            <% @the_list.each do |a_daily_spread| %>
            <tr>
          
              <td>
              <%# <#%= time_ago_in_words(a_daily_spread.created_at) %> 
                <%#  strftime(%b %d, %Y) %>
                <%= a_daily_spread.created_at %>
              </td>
        
              <td>
                <%= a_daily_spread.tarot_card_name %>
                Need to fix
              </td>

              <td>
                <a href="/tarot_cards/<%= a_daily_spread.tarot_card_id %>">
                  View your daily card
                </a>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
</div>

<hr>
