<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      Daily Tarot
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User Log In
          </a>
          
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if @current_user == nil %>
              <a href="/user_sign_up" class="dropdown-item">
                Sign Up
              </a>
              <a href="/user_sign_in" class="dropdown-item">
                  Log In
                </a>
              <% else %>
                <a href="/edit_user_profile" class="dropdown-item">
                  Edit Profile
                </a>
                <a href="/user_sign_out" class="dropdown-item">
                  Log Out
                </a>
              <% end %>
              </div>
            
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
            <a href="/daily_spreads" class="dropdown-item">
              Your Daily Readings
            </a>
            <a href="/tarot_cards" class="dropdown-item">
              Tarot Card Library
            </a>
          </div>
        </li>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->


</nav>
