<h1>Welcome to Daily Tarot!</h1>

Sign up to have a card of the day texted to you each morning.

When logged in you can view all of your past daily cards and explore the tarot card database.

<hr>



        <h2>Sign up</h2>

        <form action="/insert_user" method="post">

          <div>
            <label for="email_box">Email</label>
            <input id="email_box" name="query_email" placeholder="Choose a email..." type="text">
          </div>
                        
          <div>
            <label for="name_box">Name</label>
              
            <input type="text" id="name_box" name="query_name">
          </div>
                
          <div>
            <label for="phone_number_box">Phone number</label>
              
            <input type="text" id="phone_number_box" name="query_phone_number">
          </div>
                
            
          <div>
            <label for="password_box">Password</label>
            <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
          </div>

          <div>
            <label for="password_confirmation_box">Password Confirmation</label>
            <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
          </div>

          <button>
            Sign up
          </button>
        </form>

        <hr>

        <p>
          Or, <a href="/user_sign_in">Sign in</a> instead.
        </p>

<hr>

<img src="https://images.unsplash.com/photo-1558467778-9552e5bbe3ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80">